	

	<header style="background-image: url(<?php echo base_url();?>assets/img/banner/26-low.jpg);height:450px;">
		<div class="container-fluid">
			<div class="d-flex justify-content-center text-center">
				<div class="banner-content">
					<h2>CONTACT US</h2>
					<p>Got any queries? Any questions? Ask us.</p>
				</div>
			</div>
		</div>		
	</header>
	
	<section>
		<div class="col-sm-8 offset-sm-2">
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item active">Contact Us</li>
			</ul>
			<h1>Get in touch</h1>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
			<form>
				<div class="row padding-section contact-us">	
					<div class="col-sm-12">
						<h5><b>Contact Form</b></h5>	
					</div>
					<div class="col-sm-6">
						<input type="text" name="name" placeholder="Your first name*">
						<input type="text" name="name" placeholder="Your email*">			
					</div>
					<div class="col-sm-6">						
						<input type="text" name="name" placeholder="Your last name*">
						<input type="text" name="name" placeholder="Your phone number*">				
					</div>	
					<div class="col-sm-12">						
						<textarea name="message" placeholder="Your message*" rows="5"></textarea>	
					</div>	
					<div class="col-sm-2">
						<button type="submit" class="btn-cust">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</section>
	<section>
		<div class="col-sm-8 offset-sm-2">
			<div class="row">
				<div class="col-sm-4 text-left">
					<h5><i class="icon icon-phone"></i> +12 345 678</h5>
				</div>
				<div class="col-sm-4 text-center">
					<h5><i class="icon icon-envelope"></i> info@tours.com</h5>
				</div>
				<div class="col-sm-4 text-right">
					<h5><i class="icon icon-location-pin"></i> 12 Street, XYZ Address.</h5>
				</div>
			</div>
		</div>
	</section>
	<section class="no-padding-bottom">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5113.08969831168!2d-77.35566092527533!3d25.017086871908482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x892f7b6779ae7b7d%3A0xbd822273b8d716e9!2sParadise+Games+Ltd.!5e0!3m2!1sen!2s!4v1527444970193" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>
<?php $this->load->view('client/footer');?>