
<section class="filter">

	<h1 class="text-center">What are you looking for?</h1>
	<div class="container text-center" align="center">
	  <br>
	  <!-- Nav pills -->
	  <ul class="nav nav-pills" role="tablist">
	    <li class="nav-item">
	      <a class="nav-link active" data-toggle="pill" href="#hotel"><span><img src="<?php echo base_url();?>assets/img/website-icons/building.png"></span> Hotel</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" data-toggle="pill" href="#tour"><span><img src="<?php echo base_url();?>assets/img/website-icons/destination.png"></span> Tour</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" data-toggle="pill" href="#car-rent"><span><img src="<?php echo base_url();?>assets/img/website-icons/car.png"></span> Car Rent</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" data-toggle="pill" href="#cruise"><span><img src="<?php echo base_url();?>assets/img/website-icons/boat.png"></span> Cruise</a>
	    </li>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content text-left">
	    <div id="hotel" class="container tab-pane active"><br>
	      <div align="center">
		    <img src="<?php echo base_url();?>assets/img/website-icons/building-big.png">
		    <h3 class="text-center">FIND HOTELS</h3>
	      </div>
	      <form method="get" action="#" class="search-form">
	      <div class="row">	      	
	      	<div class="col-sm-4">
	      		<label>Where?</label><br>
	      		<select>
	      			<option>Choose Location:</option>
	      			<option>Location 1</option>
	      			<option>Location 2</option>
	      			<option>Location 3</option>
	      		</select>
	      	</div>
	      	<div class="col-sm-2">
	      		<label>Check in</label><br>
	      		<input type="text" name="" placeholder="DD/MM/YYYY">
	      	</div>
	      	<div class="col-sm-2">
	      		<label>Check out</label><br>
	      		<input type="text" name="" placeholder="DD/MM/YYYY">
	      	</div>	 
	      	<div class="col-sm-1">
	      		<label>Adults</label><br>
	      		<select>
	      			<option>1</option>
	      		</select>
	      	</div>	
	      	<div class="col-sm-1">
	      		<label>Childs:</label><br>
	      		<select>
	      			<option>0</option>
	      		</select>
	      	</div>
	      	<div class="col-sm-2">
	      		<button type="submit" class="btn-cust btn-cust-inverse">SEARCH</button>
	      	</div>	       
	      </div>
	      </form>
	    </div>
	   <div id="tour" class="container tab-pane "><br>
	      <div align="center">
		    <img src="<?php echo base_url();?>assets/img/website-icons/destination-big.png">
		    <h3 class="text-center">FIND TOURS</h3>
	      </div>
	      <form method="get" action="#" class="search-form">
	      <div class="row">	      	
	      	<div class="col-sm-4">
	      		<label>Where?</label><br>
	      		<select>
	      			<option>Choose Location:</option>
	      			<option>Location 1</option>
	      			<option>Location 2</option>
	      			<option>Location 3</option>
	      		</select>
	      	</div>
	      	<div class="col-sm-2">
	      		<label>Check in</label><br>
	      		<input type="text" name="" placeholder="DD/MM/YYYY">
	      	</div>
	      	<div class="col-sm-2">
	      		<label>Check out</label><br>
	      		<input type="text" name="" placeholder="DD/MM/YYYY">
	      	</div>	 
	      	<div class="col-sm-1">
	      		<label>Adults</label><br>
	      		<select>
	      			<option>1</option>
	      		</select>
	      	</div>	
	      	<div class="col-sm-1">
	      		<label>Childs:</label><br>
	      		<select>
	      			<option>0</option>
	      		</select>
	      	</div>
	      	<div class="col-sm-2">
	      		<button type="submit" class="btn-cust btn-cust-inverse">SEARCH</button>
	      	</div>	       
	      </div>
	      </form>
	    </div>

	    <div id="car-rent" class="container tab-pane"><br>
	      <div align="center">
		    <img src="<?php echo base_url();?>assets/img/website-icons/car-big.png">
		    <h3 class="text-center">RENT A CAR</h3>
	      </div>
	      <form method="get" action="#" class="search-form">
	      <div class="row">	      	
	      	<div class="col-sm-4">
	      		<label>Where?</label><br>
	      		<select>
	      			<option>Choose Location:</option>
	      			<option>Location 1</option>
	      			<option>Location 2</option>
	      			<option>Location 3</option>
	      		</select>
	      	</div>
	      	<div class="col-sm-2">
	      		<label>Check in</label><br>
	      		<input type="text" name="" placeholder="DD/MM/YYYY">
	      	</div>
	      	<div class="col-sm-2">
	      		<label>Check out</label><br>
	      		<input type="text" name="" placeholder="DD/MM/YYYY">
	      	</div>	 
	      	<div class="col-sm-1">
	      		<label>Adults</label><br>
	      		<select>
	      			<option>1</option>
	      		</select>
	      	</div>	
	      	<div class="col-sm-1">
	      		<label>Childs:</label><br>
	      		<select>
	      			<option>0</option>
	      		</select>
	      	</div>
	      	<div class="col-sm-2">
	      		<button type="submit" class="btn-cust btn-cust-inverse">SEARCH</button>
	      	</div>	       
	      </div>
	      </form>
	    </div>

	    <div id="cruise" class="container tab-pane"><br>
	      <div align="center">
		    <img src="<?php echo base_url();?>assets/img/website-icons/boat-big.png">
		    <h3 class="text-center">BOOK A CRUISE</h3>
	      </div>
	      <form method="get" action="#" class="search-form">
	      <div class="row">	      	
	      	<div class="col-sm-4">
	      		<label>Where?</label><br>
	      		<select>
	      			<option>Choose Location:</option>
	      			<option>Location 1</option>
	      			<option>Location 2</option>
	      			<option>Location 3</option>
	      		</select>
	      	</div>
	      	<div class="col-sm-2">
	      		<label>Check in</label><br>
	      		<input type="text" name="" placeholder="DD/MM/YYYY">
	      	</div>
	      	<div class="col-sm-2">
	      		<label>Check out</label><br>
	      		<input type="text" name="" placeholder="DD/MM/YYYY">
	      	</div>	 
	      	<div class="col-sm-1">
	      		<label>Adults</label><br>
	      		<select>
	      			<option>1</option>
	      		</select>
	      	</div>	
	      	<div class="col-sm-1">
	      		<label>Childs:</label><br>
	      		<select>
	      			<option>0</option>
	      		</select>
	      	</div>
	      	<div class="col-sm-2">
	      		<button type="submit" class="btn-cust btn-cust-inverse">SEARCH</button>
	      	</div>	       
	      </div>
	      </form>
	    </div>
	  </div>
	</div>
</section>


<section class="features">

	<div class="container">
		<div class="padding-section">
			<div class="col-sm-8 offset-sm-2">
				<h1 class="text-center ">Why choose us?</h1>
				<p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
			</div>
		</div>
		<div class="row row-eq-height">
			<div class="col-sm-4">
				<div class="row feature">
					<div class="col-3">
						<div class="feature-thumb" style="background-image: url(<?php echo base_url();?>assets/img/website-icons/dollar.png);">
						</div>
					</div>
					<div class="col-9">
						<h4>Value of Money</h4>
						<p>This is text for this section provided by client. This is text for this section provided by client. </p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row feature">
					<div class="col-3">
						<div class="feature-thumb" style="background-image: url(<?php echo base_url();?>assets/img/website-icons/world.png);">
						</div>
					</div>
					<div class="col-9">
						<h4>Diverse Destinations</h4>
						<p>This is text for this section provided by client. This is text for this section provided by client.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row feature">
					<div class="col-3">
						<div class="feature-thumb" style="background-image: url(<?php echo base_url();?>assets/img/website-icons/placeholder.png);">
						</div>
					</div>
					<div class="col-9">
						<h4>Beautiful Places</h4>
						<p>This is text for this section provided by client. This is text for this section provided by client.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row feature">
					<div class="col-3">
						<div class="feature-thumb" style="background-image: url(<?php echo base_url();?>assets/img/website-icons/fast-clock.png);">
						</div>
					</div>
					<div class="col-9">
						<h4>Fast Booking</h4>
						<p>This is text for this section provided by client. This is text for this section provided by client.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row feature">
					<div class="col-3">
						<div class="feature-thumb" style="background-image: url(<?php echo base_url();?>assets/img/website-icons/group.png);">
						</div>
					</div>
					<div class="col-9">
						<h4>Support Team</h4>
						<p>This is text for this section provided by client. This is text for this section provided by client.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row feature">
					<div class="col-3">
						<div class="feature-thumb" style="background-image: url(<?php echo base_url();?>assets/img/website-icons/heart.png);">
						</div>
					</div>
					<div class="col-9">
						<h4>Passionate Travel</h4>
						<p>This is text for this section provided by client. This is text for this section provided by client.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="cards-slider">
	<div class="padding-section">
		<div class="col-sm-8 offset-sm-2">
			<h1 class="text-center ">Popular Tours</h1>
			<p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
		</div>
	</div>
	<div class="container">
		<div class="row ">
			<div  id="package-main-div" class="col-sm-10 offset-sm-1 cards-cont">
			<!--	
				<div class="card">
				  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/bahamas.jpg);">
				  	<h5>$24</h5>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Nassau Bahamas</h5>
				    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
				  </div>
				  <div class="card-footer">
				  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
				  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
				  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
				  	<div class="card-buttons"><span class="icon icon-share"></span></div>
				  </div>
				</div>

				<div class="card">
				  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/rome.jpg);">
				  	<h5>$24</h5>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Rome</h5>
				    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
				  </div>
				  <div class="card-footer">
				  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
				  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
				  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
				  	<div class="card-buttons"><span class="icon icon-share"></span></div>
				  </div>
				</div>

				<div class="card">
				  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/madrid.jpg);">
				  	<h5>$24</h5>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Madrid</h5>
				    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
				  </div>
				  <div class="card-footer">
				  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
				  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
				  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
				  	<div class="card-buttons"><span class="icon icon-share"></span></div>
				  </div>
				</div>

				<div class="card">
				  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/dubai.jpg);">
				  	<h5>$24</h5>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Dubai</h5>
				    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
				  </div>
				  <div class="card-footer">
				  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
				  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
				  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
				  	<div class="card-buttons"><span class="icon icon-share"></span></div>
				  </div>
				</div>

				<div class="card">
				  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/las-vegas.jpg);">
				  	<h5>$24</h5>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Las Vegas</h5>
				    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
				  </div>
				  <div class="card-footer">
				  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
				  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
				  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
				  	<div class="card-buttons"><span class="icon icon-share"></span></div>
				  </div>
				</div>
			-->
			</div>

			<div class="container text-center">
				<br>
				<br>
				<a href="#" class="btn-cust">EXPLORE MORE</a>
			</div>
		</div>
	</div>
</section>


<section class="featured-section">
	<div class="padding-section">
		<div class="col-sm-5 offset-sm-2">
			<h3>Plan The Ultimate Dubai Holiday</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
			<div class="btn-cust-div">
				<a href="#" class="btn-cust">READ MORE</a>
			</div>
		</div>	
	</div>
</section>


<section class="cards-no-slider">
	<div class="padding-section">
		<div class="col-sm-8 offset-sm-2">
			<h1 class="text-center ">Recomended Hotels</h1>
			<p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
		</div>
	</div>
	<div class="container">
		<div class="row ">
			<div  class="cards-cont">
				<!--
				<div class="card">
				  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/bahamas.jpg);">
				  	<h5>$24</h5>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Nassau Bahamas</h5>
				    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
				  </div>
				  <div class="card-footer">
				  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
				  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
				  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
				  	<div class="card-buttons"><span class="icon icon-share"></span></div>
				  </div>
				</div>

				<div class="card">
				  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/rome.jpg);">
				  	<h5>$24</h5>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Rome</h5>
				    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
				  </div>
				  <div class="card-footer">
				  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
				  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
				  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
				  	<div class="card-buttons"><span class="icon icon-share"></span></div>
				  </div>
				</div>

				<div class="card">
				  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/paris.jpg);">
				  	<h5>$24</h5>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Paris</h5>
				    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
				  </div>
				  <div class="card-footer">
				  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
				  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
				  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
				  	<div class="card-buttons"><span class="icon icon-share"></span></div>
				  </div>
				</div>

				<div class="card">
				  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/madrid.jpg);">
				  	<h5>$24</h5>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Madrid</h5>
				    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
				  </div>
				  <div class="card-footer">
				  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
				  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
				  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
				  	<div class="card-buttons"><span class="icon icon-share"></span></div>
				  </div>
				</div>

				<div class="card">
				  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/dubai.jpg);">
				  	<h5>$24</h5>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Dubai</h5>
				    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
				  </div>
				  <div class="card-footer">
				  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
				  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
				  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
				  	<div class="card-buttons"><span class="icon icon-share"></span></div>
				  </div>
				</div>

				<div class="card">
				  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/las-vegas.jpg);">
				  	<h5>$24</h5>
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Las Vegas</h5>
				    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
				  </div>
				  <div class="card-footer">
				  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
				  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
				  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
				  	<div class="card-buttons"><span class="icon icon-share"></span></div>
				  </div>
				</div>
			-->
			</div>

			<div class="container text-center">
				<div class="btn-cust-div">
					<a href="#" class="btn-cust">EXPLORE MORE</a>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="testimonials">
	<div class="container">
		<h1 class="text-center">Our Happy Travelers</h1>
		<div class="row text-center">
			<div class="col-sm-8 offset-sm-2">
				<div class="testimonials-cont">
					<div class="testimonial text-center">
						<p><i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat."</i></p>
						<div align="center">
							<h6><b>Robert Downey Jr.</b></h6>
							<div class="testimonial-thumb" style="background-image: url(<?php echo base_url();?>assets/img/testimonials/rdj.jpg);">
							</div>						
						</div>
					</div>

					<div class="testimonial text-center">
						<p><i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat."</i></p>
						<div align="center">
							<h6><b>Robert Downey Jr.</b></h6>
							<div class="testimonial-thumb" style="background-image: url(<?php echo base_url();?>assets/img/testimonials/rdj.jpg);">
							</div>						
						</div>
					</div>

					<div class="testimonial text-center">
						<p><i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat."</i></p>
						<div align="center">
							<h6><b>Robert Downey Jr.</b></h6>
							<div class="testimonial-thumb" style="background-image: url(<?php echo base_url();?>assets/img/testimonials/rdj.jpg);">
							</div>						
						</div>
					</div>

					<div class="testimonial text-center">
						<p><i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat."</i></p>
						<div align="center">
							<h6><b>Robert Downey Jr.</b></h6>
							<div class="testimonial-thumb" style="background-image: url(<?php echo base_url();?>assets/img/testimonials/rdj.jpg);">
							</div>						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="blog">
	<div class="container">
		<h1 class="text-center">News & Update</h1>
		<div class="cards-cont blog-cont">
			<div class="card">
			  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/blog/post1-thumb.jpg);">
			  </div>
			  <div class="card-body">
			    <h5 class="card-title">Things to notice in Burj</h5>
			    <div class="card-text-cont">
				    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
				</div>
				<a href="#">READ MORE</a>
			  </div>
			</div>

			<div class="card">
			  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/blog/post2-thumb.jpg);">
			  </div>
			  <div class="card-body">
			    <h5 class="card-title">Is Flying Makes You Tired?</h5>
			    <div class="card-text-cont">
				    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
				</div>
				<a href="#">READ MORE</a>
			  </div>
			</div>

			<div class="card">
			  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/blog/post3-thumb.jpg);">
			  </div>
			  <div class="card-body">
			    <h5 class="card-title">Guide for Perfect Packing</h5>
			    <div class="card-text-cont">
				    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
				</div>
				<a href="#">READ MORE</a>
			  </div>
			</div>

			<div class="card">
			  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/blog/post3-thumb.jpg);">
			  </div>
			  <div class="card-body">
			    <h5 class="card-title">Guide for Perfect Packing</h5>
			    <div class="card-text-cont">
				    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
				</div>
				<a href="#">READ MORE</a>
			  </div>
			</div>

		</div>

	</div>
</section>					


<!-- <section class="contact-us">
	<div class="container">		
		<div class="row">
			<div class="col-sm-4">
				<h1>Contact Us</h1>
				<form>
					<input type="text" name="" placeholder="Name:">
					<input type="text" name="" placeholder="Email:">
					<input type="text" name="" placeholder="Phone:">
				</form>
			</div>
			<div class="col-sm-6">
				
			</div>
		</div>
	</div>
</section> -->


<?php $this->load->view('client/footer');?>