
	<header style="background-image: url(<?php echo base_url();?>assets/img/banner/beach2.jpg);height:450px;">
		<div class="container-fluid">
			<div class="d-flex justify-content-center text-center">
				<div class="banner-content">
					<h2>TOURS</h2>
					<p>We have various packages of tourism. Good luck with choosing.</p>
				</div>
			</div>
		</div>		
	</header>
		
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1><b id="p-title" >Kerala 4 Nights - Couple Special | 4 Nights 5 Days</b></h1>
				</div>
				<div class="col-md-8">
					<div  id="p-slider" class="tour-details-slider">
					</div>
				</div>
				<div class="col-md-4">
					<div class="flight-details">
						<h3>Trip Details</h3>
						<div>
							<!--
							<h6><b><i class="icon icon-location-pin"></i> STARTING FROM</b></h6>
						    <p class="no-padding">New Delhi</p>
						    <h6><b><i class="icon icon-map"></i> ITINERARY .3 CITIES</b></h6>
							<p class="no-padding">Munnar 2N - Thekkady 1N - Allepey 1N</p>
						-->
						    <h6><b><i class="icon icon-calendar"></i> DURATION</b></h6>
							<p  id="p-start" class="no-padding">Start Date: 19 September Wednesday</p>
							<p  id="p-end" class="no-padding">End Date: 29 September Tuesday</p>
						</div>
						<div class="price">
							<h6>&nbsp;<span id="p-price" ></span>>&nbsp;</h6>
							<h4 id="p-discount-price" ></h4>

						</div>
						<button class="btn-cust-inverse" style="color: #fff;">Book Now</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div   class="description">
						<h3>Trip Description</h3>
						<div id="p-desc" >
						</div>
					</div>


					<div class="terms-conditions">
						<div class="description">
							<h3>Terms & Conditions</h3>
							<div id="p-terms">
							</div>
						</div>
					</div>


				</div>					
				<div  id="p-flights" class="col-md-4 hide">
					<div class="flight-details">
						<h3>Flight Details</h3>
						<div>
							<h6><b><i class="icon icon-plane"></i> FLIGHT TITLE</b></h6>
						    <p id="p-flightname" class="no-padding">Qatar Airways</p>
							<h6><b><i class="icon icon-arrow-up-circle"></i> DEPARTURE LOCATION</b></h6>
						    <p id="p-flight-from" class="no-padding">New Delhi - 19 September, 8:00 AM</p>
						    <h6><b><i class="icon icon-arrow-down-circle"></i> DEPARTURE RETURN LOCATION</b></h6>
						    <p id="p-flight-to" class="no-padding">Goa - 30 September, 7:30 PM</p>
						    <h6><b><i class="icon icon-badge"></i> FLIGHT CLASS</b></h6>
							<p id="p-flightclass" class="no-padding">Business Class</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	

<?php $this->load->view('client/footer');?>
<script>
 const pId = '<?php echo $packageId; ?>';
 
 function getPackagesDetail(){
		$.ajax({
            url:  '<?php echo base_url(); ?>Api/packagesDetails',  
            type: 'POST',
            dataType: 'HTML',         
            data : "packageId="+pId,
            success: function(res)
            {
              let data =  $.parseJSON(res);
			  console.log('data',data);
			  
			  if (data.success == true) { 
          let html = '';
		  let img = '';
          console.log('details',data.data);
                if(data.data.length > 0){
					if(data.data[0].flights.length == 0){
					  $('#p-flights').css('display','none');
					}
					else{
					$('#p-flights').css('display','block');
					let flights = data.data[0].flights[0];
					console.log('flights',flights);
					$('#p-flightname').html(flights.flight_name);
					$('#p-flightclass').html(flights.class+' Class');
					$('#p-flight-from').html(flights.from+', '+flights.from_date);
					$('#p-flight-to').html(flights.to+', '+flights.to_date);
					
					}
					document.title = data.data[0].package_title;
					$('#p-title').html(data.data[0].package_title+' | '+data.data[0].package_days);
					$('#p-desc').html(data.data[0].package_desc);
					$('#p-price').html('$'+data.data[0].price);
					$('#p-discount-price').html('$'+data.data[0].discount_price);
					$('#p-terms').html(data.data[0].terms_and_conditions);
					$('#p-start').html('Start Date:'+data.data[0].start_from);
					$('#p-end').html('End Date:'+data.data[0].end_date);
					let d = new Date(data.data[0].start_from);
					let imgUrl = baseUrl+'uploads/';
					
					data.data[0].images.forEach(imgs => {
						//alert(1);
						img += `<div class="slider" style="background-image:url(${imgUrl+imgs.image});">
						  		</div>`;

					});
					console.log('img',img);
					$('#p-slider').html(img);
					$(".tour-details-slider").not('.slick-initialized').slick({
								 		dots: true,
										  infinite: true,
										  speed: 500,
										  fade: true,
										  cssEase: 'linear'
									});						
					
                }
                
                
            }
            else if (data.success == 'false') { 

              }
              else { 
				
				alert('Something went wrong');
              }
            },
            error: function(xhr, status, error)
            {
            }
            });						
	}
	getPackagesDetail();

</script>
