

	<header style="background-image: url(<?php echo base_url();?>assets/img/banner/8.jpg);height:450px;">
		<div class="container-fluid">
			
			<div class="d-flex justify-content-center text-center">
				<div class="banner-content">
					<h2>SERVICES</h2>
					<p>We provide best services for tours and hotels.</p>
				</div>
			</div>
		</div>		
	</header>
	<section class="cards-no-slider">
		<div class="">
			<div class="col-sm-8 offset-sm-2">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active">Services</li>
				</ul>
				
			</div>
		</div>
	</section>
	<section class="features services">

		<div class="container">
			<div class="">
				<div class="col-sm-8 offset-sm-2">
					<h1 class="text-center ">Why choose us?</h1>
					<p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				</div>
			</div>
			<div class="row row-eq-height padding-section">
				<div class="col-sm-4">
					<div class="row feature">
						<div class="col-3">
							<div class="feature-thumb" style="background-image: url(<?php echo base_url();?>assets/img/website-icons/dollar.png);">
							</div>
						</div>
						<div class="col-9">
							<h4>Value of Money</h4>
							<p>This is text for this section provided by client. This is text for this section provided by client. </p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row feature">
						<div class="col-3">
							<div class="feature-thumb" style="background-image: url(<?php echo base_url();?>assets/img/website-icons/world.png);">
							</div>
						</div>
						<div class="col-9">
							<h4>Diverse Destinations</h4>
							<p>This is text for this section provided by client. This is text for this section provided by client.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row feature">
						<div class="col-3">
							<div class="feature-thumb" style="background-image: url(<?php echo base_url();?>assets/img/website-icons/placeholder.png);">
							</div>
						</div>
						<div class="col-9">
							<h4>Beautiful Places</h4>
							<p>This is text for this section provided by client. This is text for this section provided by client.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row feature">
						<div class="col-3">
							<div class="feature-thumb" style="background-image: url(<?php echo base_url();?>assets/img/website-icons/fast-clock.png);">
							</div>
						</div>
						<div class="col-9">
							<h4>Fast Booking</h4>
							<p>This is text for this section provided by client. This is text for this section provided by client.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row feature">
						<div class="col-3">
							<div class="feature-thumb" style="background-image: url(<?php echo base_url();?>assets/img/website-icons/group.png);">
							</div>
						</div>
						<div class="col-9">
							<h4>Support Team</h4>
							<p>This is text for this section provided by client. This is text for this section provided by client.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="row feature">
						<div class="col-3">
							<div class="feature-thumb" style="background-image: url(<?php echo base_url();?>assets/img/website-icons/heart.png);">
							</div>
						</div>
						<div class="col-9">
							<h4>Passionate Travel</h4>
							<p>This is text for this section provided by client. This is text for this section provided by client.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="cards-slider">
		<div class="padding-section">
			<div class="col-sm-8 offset-sm-2">
				<h1 class="text-center ">Popular Tours</h1>
				<p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
			</div>
		</div>
		<div class="container">
			<div class="row ">
				<div class="col-sm-10 offset-sm-1 cards-cont">
					<div class="card">
					  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/bahamas.jpg);">
					  	<h5>$24</h5>
					  </div>
					  <div class="card-body">
					    <h5 class="card-title">Nassau Bahamas</h5>
					    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
					  </div>
					  <div class="card-footer">
					  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
					  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
					  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
					  	<div class="card-buttons"><span class="icon icon-share"></span></div>
					  </div>
					</div>

					<div class="card">
					  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/rome.jpg);">
					  	<h5>$24</h5>
					  </div>
					  <div class="card-body">
					    <h5 class="card-title">Rome</h5>
					    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
					  </div>
					  <div class="card-footer">
					  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
					  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
					  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
					  	<div class="card-buttons"><span class="icon icon-share"></span></div>
					  </div>
					</div>

					<div class="card">
					  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/madrid.jpg);">
					  	<h5>$24</h5>
					  </div>
					  <div class="card-body">
					    <h5 class="card-title">Madrid</h5>
					    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
					  </div>
					  <div class="card-footer">
					  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
					  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
					  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
					  	<div class="card-buttons"><span class="icon icon-share"></span></div>
					  </div>
					</div>

					<div class="card">
					  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/dubai.jpg);">
					  	<h5>$24</h5>
					  </div>
					  <div class="card-body">
					    <h5 class="card-title">Dubai</h5>
					    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
					  </div>
					  <div class="card-footer">
					  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
					  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
					  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
					  	<div class="card-buttons"><span class="icon icon-share"></span></div>
					  </div>
					</div>

					<div class="card">
					  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/las-vegas.jpg);">
					  	<h5>$24</h5>
					  </div>
					  <div class="card-body">
					    <h5 class="card-title">Las Vegas</h5>
					    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
					  </div>
					  <div class="card-footer">
					  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
					  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
					  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
					  	<div class="card-buttons"><span class="icon icon-share"></span></div>
					  </div>
					</div>
				</div>

				<div class="container text-center">
					<br>
					<br>
					<a href="#" class="btn-cust">EXPLORE MORE</a>
				</div>
			</div>
		</div>
	</section>
<?php $this->load->view('client/cta');?>
<?php $this->load->view('client/footer');?>