<?php $this->load->view('client/navbar');?>

	<header style="background-image: url(<?php echo base_url();?>assets/img/banner/22.jpg);height:450px;">
		<div class="container-fluid">
			<div class="d-flex justify-content-center text-center">
				<div class="banner-content">
					<h2>DISCOVER THE WORLD</h2>
					<p>We will help you to find the best world for you.</p>
					<a href="#" class="btn-cust">GO EXPLORE NOW</a>
				</div>
			</div>
		</div>		
	</header>

	<section class="cards-no-slider">
		<div class="">
			<div class="col-sm-8 offset-sm-2">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Tours</a></li>
					<li class="breadcrumb-item active">Nassau Bahamas</li>
				</ul>
				<h1>Nassau Bahamas</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
			</div>
		</div>
		<div class="container">
			<div class="row ">
				
			</div>
		</div>
	</section>
<?php $this->load->view('client/footer');?>