

	<header style="background-image: url(<?php echo base_url();?>assets/img/banner/beach2.jpg);height:450px;">
		<div class="container-fluid">
			<div class="d-flex justify-content-center text-center">
				<div class="banner-content">
					<h2>TOURS</h2>
					<p>We have various packages of tourism. Good luck with choosing.</p>
				</div>
			</div>
		</div>		
	</header>
	
	<section class="filter filter-inner">
		<form method="get" action="#" class="search-form">
			<div class="container">
				<div class="row">	      	
					<div class="col-sm-4">
						<label>Where?</label><br>
						<select>
							<option>Choose Location:</option>
							<option>Location 1</option>
							<option>Location 2</option>
							<option>Location 3</option>
						</select>
					</div>
					<div class="col-sm-2">
						<label>Check in</label><br>
						<input type="text" name="" placeholder="DD/MM/YYYY">
					</div>
					<div class="col-sm-2">
						<label>Check out</label><br>
						<input type="text" name="" placeholder="DD/MM/YYYY">
					</div>	 
					<div class="col-sm-1">
						<label>Adults</label><br>
						<select>
							<option>1</option>
						</select>
					</div>	
					<div class="col-sm-1">
						<label>Childs:</label><br>
						<select>
							<option>0</option>
						</select>
					</div>
					<div class="col-sm-2">
						<button type="submit" class="btn-cust btn-cust-inverse">SEARCH</button>
					</div>	       
				</div>
			</div>
		</form>
	</section>

	<section class="cards-no-slider">
		<div class="padding-section">
			<div class="col-sm-8 offset-sm-2">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active">Tours</li>
				</ul>
				<h1 class="text-center ">Recomended Tours</h1>
				<p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
			</div>
		</div>
		<div class="container">
			<div class="row ">
				<div class="cards-cont">
					<div class="card">
					  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/bahamas.jpg);">
					  	<h5>$24</h5>
					  </div>
					  <div class="card-body">
					    <h5 class="card-title">Nassau Bahamas</h5>
					    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
					  </div>
					  <div class="card-footer">
					  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
					  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
					  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
					  	<div class="card-buttons"><span class="icon icon-share"></span></div>
					  </div>
					</div>

					<div class="card">
					  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/rome.jpg);">
					  	<h5>$24</h5>
					  </div>
					  <div class="card-body">
					    <h5 class="card-title">Rome</h5>
					    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
					  </div>
					  <div class="card-footer">
					  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
					  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
					  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
					  	<div class="card-buttons"><span class="icon icon-share"></span></div>
					  </div>
					</div>

					<div class="card">
					  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/paris.jpg);">
					  	<h5>$24</h5>
					  </div>
					  <div class="card-body">
					    <h5 class="card-title">Paris</h5>
					    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
					  </div>
					  <div class="card-footer">
					  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
					  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
					  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
					  	<div class="card-buttons"><span class="icon icon-share"></span></div>
					  </div>
					</div>

					<div class="card">
					  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/madrid.jpg);">
					  	<h5>$24</h5>
					  </div>
					  <div class="card-body">
					    <h5 class="card-title">Madrid</h5>
					    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
					  </div>
					  <div class="card-footer">
					  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
					  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
					  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
					  	<div class="card-buttons"><span class="icon icon-share"></span></div>
					  </div>
					</div>

					<div class="card">
					  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/dubai.jpg);">
					  	<h5>$24</h5>
					  </div>
					  <div class="card-body">
					    <h5 class="card-title">Dubai</h5>
					    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
					  </div>
					  <div class="card-footer">
					  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
					  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
					  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
					  	<div class="card-buttons"><span class="icon icon-share"></span></div>
					  </div>
					</div>

					<div class="card">
					  <div class="card-img-top" style="background-image:url(<?php echo base_url();?>assets/img/cards/las-vegas.jpg);">
					  	<h5>$24</h5>
					  </div>
					  <div class="card-body">
					    <h5 class="card-title">Las Vegas</h5>
					    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue mi, pretium a consectetur a, dictum et erat.</p>
					  </div>
					  <div class="card-footer">
					  	<div class="card-buttons"><span class="icon icon-eye"></span> 5456</div>
					  	<div class="card-buttons"><span class="icon icon-heart"></span> 123</div>
					  	<div class="card-buttons"><span class="icon icon-bubble"></span> 20</div>
					  	<div class="card-buttons"><span class="icon icon-share"></span></div>
					  </div>
					</div>
				</div>

				<div class="container text-center">
					<ul class="pagination pagination-sm">
					  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
					  <li class="page-item"><a class="page-link" href="#">1</a></li>
					  <li class="page-item"><a class="page-link" href="#">2</a></li>
					  <li class="page-item"><a class="page-link" href="#">3</a></li>
					  <li class="page-item"><a class="page-link" href="#">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
<?php $this->load->view('client/cta');?>
<?php $this->load->view('client/footer');?>