
/*GLOBAL CLASSES*/


section{
	padding-top: 50px;
	padding-bottom: 50px;
}

.no-padding{
	padding: 0px;
}

.padding-section{
	padding: 50px 0px; 
}

h1,h2,h3,h4,h5,h6,a{
/*	font-family: 'Montserrat', sans-serif;
	font-weight: 200;*/
}

p,a{
/*	font-family: 'Dosis',sans-serif;
	font-weight: 300;*/
}


select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 6px);
}

.input-group>.custom-file:not(:last-child) .custom-file-label, .input-group>.custom-file:not(:last-child) .custom-file-label::after {
    height: 48px;
}


.input-group>.custom-file:not(:last-child) .custom-file-label, .input-group>.custom-file:not(:last-child) .custom-file-label::after {
    height: 48px;
}

.alert{
	width: 100%;
}

.account-status{
	padding: 16px;
}
.account-status p{
	margin: 0px;
}

#hidePassword{
	display: none;
}