@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Raleway:300,400');
/*SCROLL BAR*/
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff1a;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa;    
    margin: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
}


body{
	font-family: 'Montserrat',sans-serif !important;
	/*background:linear-gradient(to right, #5f5f5f, #6f4f4f);*/
	animation-name: background_bg;
	animation-duration: 60s;
	animation-iteration-count: infinite;
	color: #fff;
}
p{
	font-weight: 300;
}

@keyframes background_bg{
	 0%{background: #6f4f4f;}
     25% {background: #516f4f;}
     50% {background: #574f6f;}
     75% {background: #6f4f6a;}
     100%{background: #6f4f4f;}
}



/*GLOBAL CLASSES*/
.no-padding{
	padding: 0px !important;
}

.table tr td{
	border-top:1px solid #ffffff1a;
}

.btn-success{
	color: #fff;
    border-radius: unset;
    background-color: #799827;
    border-color: #7a942b;
}

.form-control{
	border-radius: unset;
}



/*TOPBAR*/
.topbar{
	padding-top: 5px;
    padding-bottom: 5px;
    height: 70px;
    border-bottom: 1px solid #ffffff1a;
/*    box-shadow: 3px 3px 10px 0px #5f5f5f70;*/
    background: #00000021
}

.topbar .logo{
	filter: invert(100);
}

.topbar h4,.ticker{
	padding-top:15px;
}

.top-btns{
	color: #fff;
/*	
	margin-bottom: 15px;*/
	height: 30px;
	width: 30px;
	font-size: 22px;
/*	border:1.2px solid #ffffff1a;
	padding:3px 0px 3px 5px;*/
}

.topbar-btn-cont{
	margin-top: 15px;
}

.ticker{
	display: none;
}

.badge-notify{
   background:red;
   position:relative;
   top: -20px;
   left: -35px;
}

.btn-link:hover{
	text-decoration: none;
}

.navbar{
	height: 100%;
    background: #00000047!important;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    box-shadow: inset -1px 2px 4px 4px #00000017;
    padding: 15px;
}

.navbar ul,.messages-list ul{	
	width: 100%;
	padding: 0px;

}
.navbar ul li,.messages-list ul li{
	padding: 3px 5px 3px 5px;
	border-bottom: 1px solid #ffffff1a;
}

.navbar ul li:hover,.messages-list ul li:hover{
	background-color: #ffffff1a;
}    

.navbar a,.messages-list a{
	color: #fff;
}

.nav-tabs{
	padding: 0px;
}

.nav-tabs .nav-link{
	border-radius: unset;
}
.nav-tabs .nav-link:hover{
	border-color:transparent;
}

.content-div{
	padding: 15px;
}

.card{
	background-color: #00000047!important;
	border-radius: unset;
	height: 500px;	
	margin-top: 15px;
	margin-bottom: 15px;
}

.message-card{
	height:520px;
}

.message-card .nav-link{
	display: flex;
    flex-direction: row;
    align-items: center;
}


.message-card .messages-list,.message-card .nav-item{
	padding: unset;
}


.message-cont{
	height: 380px;	
	margin-top: 15px;
	margin-bottom: 15px;
	overflow-y: scroll;
}

.user-image-thumb{
	height: 32px;
	width: 32px;
	display: inline-block;
	background-position: center;
	background-size: cover;
	margin:0px 5px 0px 5px; 
}

.message-cont textarea{
	background-color: transparent;
	width: 100%;
	resize: none;
	color: #fff;
	padding: 5px;
}

.message-cont textarea:focus{
	outline: none;
}
.card-cont{
	overflow-y: scroll;
}

.news-table a{
	color: inherit;
}
.news-table a:hover{
	text-decoration: none;
}

.msg-bubble{
	background-color: #c0ff0075;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.msg-bubble .date{
	font-size: 12px;
    color: #ffffff9e;
}
.msg-bubble-me{
	background-color: #00000075;
}

