@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,700|Open+Sans:300,400|Satisfy');

@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400');
/*GLOBAL CLASSES*/


section{
	padding-top: 50px;
	padding-bottom: 50px;
}

.no-padding{
	padding: 0px !important;
}

.no-padding-bottom{
	padding-bottom: 0px !important;
}
.no-margin{
	margin: 0px !important;
}
.padding-section{
	padding: 50px 0px; 
}


.bg-light-grey{
	background-color: #e0e0e05c;
}
h1,h2,h3,h4,h5,h6,a{
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
}

p,a{
	font-family: 'Dosis',sans-serif;
	font-weight: 300;
}

.btn-cust-div{
	padding-top: 20px;
}


.btn-cust{
	background-color: #FFF;
	color: #000;
	padding:3px 6px;
	font-weight: 400;
}

.btn-cust:hover{
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

.btn-cust-inverse{
	background-color: #000;
}

.btn-cust-inverse:hover{
	background-color: #fff;
}

button, input, optgroup, select, textarea {
    margin: 0;
    padding: 10px 0px 10px 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background-color: transparent;
    margin-top: 10px;
}

.contact-us button, 
.contact-us input, 
.contact-us optgroup, 
.contact-us select, 
.contact-us textarea {
    margin: 0;
    padding: 15px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    border: 1px solid #cccccc61;
    width: 100%;
    background-color: transparent;
    margin-top: 10px;
}

button:focus, input:focus, optgroup:focus, select:focus, textarea:focus{
	outline: none;
	box-shadow: none;
} 


.pagination{
	justify-content: center;
	margin-top: 30px;
}

.breadcrumb {
	background-color: transparent;
}


.breadcrumb-item.active {
    color: #6c757d;
    font-family: 'Dosis',sans-serif;
    font-weight: 300;
}

.breadcrumb-item+.breadcrumb-item::before {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}












/*BANNER*/
header{
	height: 600px;	
	background-position: center;
	background-size: cover;
}


header .banners{
	position: absolute;
	z-index: 1;
	width: 100%;

}

header .banners .gradient{
	height: 600px;
	width: 100%;
	z-index: 2;
	/*background: linear-gradient(#00000068, transparent);*/
	background:linear-gradient(#a2a2a229, transparent);
	position: absolute;
}

header .banners .banner{
	height: 600px;
	width: 100%;
	background-position: center;
	background-size: cover;
}

header .banner-content{
	min-height: 200px;
	width: 488px;
	margin-top: 100px;
	border:2px solid #FFF;
	color: #fff;
	z-index: 6;
	position: relative;
	padding:50px;
}

header .banner-content h2{
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	display: inline-block;

}

header .banner-content p{
	padding-bottom: 10px;
}

.navbar{
	width: 100%;
	z-index: 3;
	position: absolute;
}

.navbar ul{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	list-style: none;
}

.navbar ul li{
	padding: 3px 5px 3px 5px;
	color: #fff;

}

.navbar ul .logo{
	background-color: #000;
}

.navbar ul li h3,p{
	padding: 0px;
	margin: 0px;
}

.navbar ul li a{
	color: #FFF;
	padding:3px 6px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}

.navbar ul li .active-link{
	background-color: #000;
}


.navbar ul li .btn-cust{
	color: #000;
}

.navbar ul li .btn-cust-inverse,header .navbar ul li .btn-cust:hover{
	color: #fff;
}

.navbar ul li .btn-cust-inverse:hover{
	color: #000;
}

/*header .slick-dots{
	color: #fff;
	bottom: 50px;
}

header .slick-dots li button:before,.slick-dots li.slick-active button:before{
    color: #fff;
}
*/




/*FILTER*/

.filter{
	
}

.filter .nav-pills{
	justify-content: center;
}

.filter .nav-pills .nav-link{
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.filter .nav-pills .active{
	background-color: #000;
	border-radius: 0px;
	color: #fff;
}

.filter .nav-pills .active img{
	filter: invert(100%);
}

.filter .btn-cust-inverse{
	color: #fff;
    position: absolute;
    bottom: 0;
}
.filter .btn-cust-inverse:hover{
	color: #000;
	border:1px solid #ccc;
}

.filter .tab-content .home{
	padding-top: 50px;
}

.filter .tab-content h3{
	padding-top: 20px;
}


.filter .tab-content .search-form{
	padding-top: 50px;
}

.filter-inner{
	background:#e0e0e05c;
}






/*FEATURES*/
.features{
    color: #fff;
    background: linear-gradient(to right, #111735, #113335);
	background: url(../img/banner/22.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.features .feature{
	padding-top: 20px;
	padding-bottom: 20px;
}

.features .feature-thumb{
	height: 64px;
    width: 64px;
    /*border-radius: 360px;*/
    padding: 30px;
    filter: invert(100%);
    background-position: center;
    background-repeat: no-repeat;
/*    background-color: #0000001a;*/
	border:1px solid #000;
}







/*CARDS*/

.cards-cont .card{
	width: 270px;
	height: 400px;
	border:none;
	border-radius: 0px;
	border:1px solid #f7f7f7;
	margin:10px 20px;
}

.cards-cont .card-img-top{
	height: 200px;
	width: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 0px;
	border-bottom: 2px solid #000;
}

.cards-cont .card-img-top h5{
	position: absolute;
    top: 164px;
    right: 0;
   /* background: #0000007a;*/
    background: #000000;
    color: #fff;
    padding: 6px;
    font-weight: 500;
}


.cards-cont h5{
	font-weight: 500;
	margin-bottom: 0px;
}


.cards-cont .card-text-cont{
	overflow: hidden;
	height: 170px;
}


.cards-cont .card-footer{
	border-top: 0px;
	display: flex;
	justify-content: space-between;
}

.cards-slider .btn-cust,.cards-no-slider .btn-cust{
	background-color: #000 ;
	color: #fff;
}


.cards-no-slider .cards-cont{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.cards-no-slider .cards-cont .card-img-top h5{
	top: 154px;
}


/*FEATURED*/
.featured-section{
	height: 600px;
	background-image: url(../img/banner/dubai6.jpg);
	background-size: cover;
	background-position: left;
}

.featured-section .btn-cust{
	background-color: #000 ;
	color: #fff;
}





/*TESTIMONIALS*/
.testimonials{
	background-color: #f7f7f7;
}

.testimonials .testimonial{
	padding-top: 20px;
}

.testimonials .testimonial h6{
	padding-top: 20px;
}

.testimonials .testimonial .testimonial-thumb{
	height: 50px;
    width: 50px;
    border-radius: 360px;
    background-position: center;
    background-size: cover;
}



/*BLOG*/

.blog{

}

.blog-cont .card{
	width: 400px;
	height: 500px;
}


/*SERVICES*/
.services{
	color: #000;
	background: transparent; 
}

.services .feature-thumb {
	filter: invert(0%);
}


/*CONTACT US*/
section.contact-us{
	color: #fff;
    background: linear-gradient(to right, #111735, #113335);
	background: url(../img/banner/35.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}





/*CTA*/
.cta{
	background: #131719;
    color: #ccc;
}


/*FOOTER*/
footer{
	background: #1d2327;
}


footer h3{
	color: #ccc;

}

footer img{
	filter: brightness(65%);
}

footer p, footer a{
	color: #808080;
}

footer .contact-cont{
	margin-top: 20px;
}

footer a:hover{
	color: #fff;
}

footer .social-icon img{
	padding: 5px;
}

footer  .form-inputs{
    display: block;
    width: 100%;
    background: #1d2327;
    height: 39px;
    margin-top: 10px;
    font-size: 14px;
    border: 1px solid #ffffff30;
    color: #fff;
    padding: 10px;
    font-family: 'Montserrat',sans-serif;
}

footer  .form-inputs:focus,footer  .form-textarea:focus,footer button{
	outline: none !important; 
}

footer  .form-textarea{
	display: block;
    width: 100%;
    background: #1d2327;
    margin-top: 10px;
    font-size: 14px;
    border: 1px solid #ffffff30;
    color: #fff;
    padding: 10px;
    font-family: 'Montserrat',sans-serif;
}


footer .btn-submit{
	background: #1d2327;
    color: #808080;
    border: 1px solid #ffffff30;
    padding: 10px;
    margin-top: 10px;
}

footer .btn-submit:hover{
	color: #fff;
}

#loginModal{
	background: #0000009c;

}

.modal.show .modal-dialog{
	
}


#loginModal .modal-content,
#signupModal .modal-content{
	display: flex;
	flex-direction: unset;
	border-radius: 0px;
}

#loginModal .overlay-img{
	position: absolute;
    height: 500px;
    width: 50%;
    left: 0%;
    z-index: 12;
    background-size: cover;
    background-image: url(../img/banner/35.jpg);
/*    background-position-x: -120px;*/
 	background-position-x:-42px;
}


#signupModal .overlay-img{
	position: absolute;
    height: 610px;
    width: 50%;
    left: 0%;
    z-index: 12;
    background-size: cover;
    background-image: url(../img/banner/8.jpg);
/*    background-position-x: -120px;*/
 	background-position-x:-42px;
}

#loginModal .overlay-img h2, 
#signupModal .overlay-img h2{
    padding: 10px;
    border: 1px solid;
    color: #fff;
}

#loginModal .overlay-img p,
#signupModal .overlay-img p{
	color: #fff;
}


#loginModal .overlay-img a,
#signupModal .overlay-img a{
	color: #ccc;
}


#loginModal .login-visitor a,
#signupModal .signup-visitor a,
#loginModal .login-vendor a,
#signupModal .signup-vendor a{
	color: #4e4e4e;
}


#loginModal .login-visitor, 
#signupModal .signup-visitor {
    height: 610px;
    width: 100%;
    padding: 50px;
}

#loginModal .login-visitor,
#loginModal .login-vendor{
	height: 500px !important;
}

#loginModal .login-vendor, 
#signupModal .signup-vendor {
    height: 610px;
    width: 100%;
    padding: 50px;
}
.visitor-overlay-text,
.vendor-overlay-text{
	padding: 216px 60px 20px;
}

#loginModal .btn-cust,
#signupModal .btn-cust {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
    width: 67px;
    font-weight: 400;
}

.to-visitor,.to-vendor{
/*	position: absolute;
	bottom: 0px;*/
}


.social-button-box a:hover{
	text-decoration: none;
}
.social-button-box h6{
	display: inline-block;
}

.social-button-box .social-btn{
	margin: 10px 0px;
	width: 215px;

}

.social-button-box .facebook{
}

.holo-box{
	background-color: #f7f7f7;
	margin-right: 90px;
	margin-left: 12px;
}

.slider{
	height: 400px;
	width: 100%;
}
.flight-details{
    background-color: #f7f7f7;
    height: 400px;
    width: 100%;
    padding: 30px;
}
.flight-details h6{
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 15px;
    font-size: 16px;
}
.flight-details p{
    margin-left: 20px;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.flight-details .price {
    background-color: #1d2327;
    margin-top: 24px;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.flight-details .price h6{
	margin-top: 0px;
    text-decoration: line-through;
    font-weight: 200;
}

.flight-details .price h4{
	font-weight: 400;
    margin-bottom: 0px;
}


.flight-details .btn-cust-inverse{
	color: #fff;
	margin-top: 0px;
	background-color: #ff4545;
	border:1px solid #ff4545;
	transition-duration: 0.3s; 
}
.flight-details .btn-cust-inverse:hover{
	color: #000 !important;
	border:1px solid #000;
	background-color: transparent;
}

.terms-conditions{
	background-color: #f7f7f7;
    padding: 30px;
    margin-top: 50px;
}

.terms-conditions p,
.terms-conditions ul{
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.terms-conditions ul li{
	margin: 10px 0px;
}